    <div class="hero-banner">
        <div class="hero-text">
            <!-- <h1 style="color:rgba(255, 255, 255, 0.877)f">Employee Management</h1> -->
            <p style="color: rgba(19, 33, 34, 0.815); text-align: justify; "> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi possimus maiores sapiente voluptatem hic! At, id. Doloremque eum sed dolor enim numquam minima beatae, eligendi repudiandae exercitationem nostrum magni deserunt. </p>
            <button  *ngIf = "!loggedIn" routerLink="/login" class="btn btn-primary me-3"> sign in  </button>
            <button  *ngIf = "!loggedIn" routerLink="/signup" class="btn btn-secondary mx-auto"> create account  </button>
          </div>
    </div>
