<h2 mat-dialog-title>Timesheet Update Form</h2>
<div class="m-3 fs-5">
  <small *ngIf="success_message" class="success-msg fw-bold">Record has been updated successfully
    <span><i class="fa fa-check-circle" style="color:green;"></i></span>&nbsp; Loading Dashboard...  <span class="spinner-border text-success" ></span> </small>
 </div>
 
<mat-dialog-content class="mat-typography">
    <form [formGroup]="employeeform">
      <div class="d-flex justify-content-center">
        <mat-form-field class="example-full-width" appearance="outline" style=width:500px;>
          <mat-label>Enter your username</mat-label>
              <input type="text" matInput placeholder="enter your username"
                      formControlName="username" maxlength="15" name="username"
                      [(ngModel)]="userobj.username" required>
        </mat-form-field>
      </div> 

      <div class="d-flex justify-content-center">
        <mat-form-field class="example-full-width" appearance="outline" style=width:500px;>
            <mat-label>Date</mat-label>
            <input formControlName="date" matInput [min]="minDate" [max]="maxDate"
                name="fromdate" [matDatepicker]="datepicker" placeholder="From date"
                [(ngModel)]="userobj.date">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-center">
      <mat-form-field class="example-full-width" appearance="outline" style=width:500px;>
          <mat-label>project Name</mat-label>
          <mat-select formControlName="project" name="projectname"
              [(ngModel)]="userobj.project">
              <mat-option value="angular">Angular</mat-option>
              <mat-option value="React">React</mat-option>
              <mat-option value="javascript">javascript</mat-option>
          </mat-select>
        
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center">
      <mat-form-field class="example-full-width" appearance="outline" style=width:500px;>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" type="text" name="description"
              maxlength="35" placeholder="Description" [(ngModel)]="userobj.description"
              required></textarea>
         
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center">
      <mat-form-field class="example-full-width" appearance="outline" style=width:500px;>
          <mat-label>Number of hours</mat-label>
          <input formControlName="no_of_hrs" name="no_of_hrs" [(ngModel)]="userobj.no_of_hrs"
              mdbInput required type="number" matInput placeholder="Number of hours">
      </mat-form-field>
   </div> 
   </form>   
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click) = "updateuser()"  cdkFocusInitial>Update</button>
</mat-dialog-actions>